<!--/*AUTOR: MATEUS AUGUSTO S. AZEVEDO*/-->
<mat-card *ngIf="user$ | async as user">
    <h1 style="font-weight: bold;">Bem vindo(a), {{user.firstName}} {{user.lastName}}!</h1>
    <!--
    <mat-list>
        <mat-list-item>Telefone: {{user.phone}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>E-mail: {{user.email}}</mat-list-item>
        <mat-divider></mat-divider>
        <mat-list-item>Endereço: {{user.address}}</mat-list-item>       
      </mat-list>
      -->
</mat-card>